<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>

    <ul nz-menu nzMode="inline" nzTheme="dark" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter (click)="indexClick()">
        <i nz-icon nzType="mail"></i>
        <span>首页</span>
      </li>

      <li nz-submenu nzTitle="用户管理" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/users/user-list">用户列表</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/users/role">角色定义</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/users/role-authorization">角色权限</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/users/user-role">用户角色</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="系统管理" nzIcon="file">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/system/menu-manage">菜单管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/system/authorization">权限定义</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/system/dictionary">字典定义</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/system/system-log">系统日志</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/system/online-statistic">在线统计</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/system/task-scheduler">任务调度</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></i>
    </nz-header>

    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

    <nz-footer>xiaoshaoqian Design ©2020</nz-footer>
  </nz-layout>
</nz-layout>
