
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="请输入用户名或手机号!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="userName" placeholder="用户名/手机号" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="请输入密码!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="密码" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
          <nz-form-control nzErrorTip="请输入验证码">
              <div nz-row [nzGutter]="8">
                  <div nz-col [nzSpan]="15">
                      <nz-input-group nzPrefixIcon="key" nzSize="large">
                          <input type="text" nz-input formControlName="captcha" placeholder="请输入验证码" />
                      </nz-input-group>
                  </div>
                  <div nz-col [nzSpan]="9">
                      <nz-spin [nzSpinning]="imgSpinning">
                          <img class="captcha" [attr.src]="captchaSrc"  (click)="getCaptcha()"/>
                      </nz-spin>
                  </div>
              </div>
          </nz-form-control>
      </nz-form-item>

        <div nz-row class="login-form-margin">
          <div nz-col [nzSpan]="12">
            <label nz-checkbox formControlName="remember">
              <span>记住我</span>
            </label>
          </div>
          <div nz-col [nzSpan]="12">
            <a class="login-form-forgot">忘记密码</a>
          </div>
        </div>
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">登录</button>
      </form>