
      .login-form {
        max-width: 300px;
        background-color: white;
        padding: 15px;
      }

      .login-form-margin {
        margin-bottom: 16px;
      }

      .login-form-forgot {
        float: right;
      }

      .login-form-button {
        width: 100%;
      }